header{
    background-color: #f7f6f4;
    font-family:"Franklin Gothic Medium";
    color:rgb(0, 0, 0);
    font-size: 45px;
    padding: 10px;
    margin: 30px;
    border: 3px solid #000000;
}

body {
  background-color: #d2dbec;
  font-family: "Franklin Gothic Medium";
    color: #131212;
  font-size: 30px;
  margin: 20px;
  padding: 15px;
  
}

footer {
  background-color: #000000;
  font-family: "bush script";
    color: #f3efef;
  font-size: 25px;
  height: 50px;
  padding: 30px;
}

.subhead{
    font-family:"Franklin Gothic Medium";
    color:rgb(0, 0, 0);
    font-size: 75px;

    
}

.pic{
    height: 500px;
    width: 500px;
    border: 5px solid #000000;
}
#funfact{
   border: 3px solid #000000;
  background-color: #a09e9e;
  font-size: 25px;
  height: 220px;
  width: 220px;
  padding: 200px;
  margin: 100px;
  border-radius: 50%;
}

#quote{
  border: 3px solid #000000;
  background-color: #a09e9e;
  font-size: 25px;
  height: 300px;
  width: 200px;
  padding: 15px;
  margin: 100px;
  border-radius: 10%;
}